body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans'; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: rgb(43, 50, 48)!important;
  color: rgb(55, 69, 59);
}

* {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'; */
  
  
}
.nav{
  background-color: rgb(39, 41, 46);
   width:100% !important;
  
  padding-right: 0!important;
  margin-bottom: 10rem;
 
 margin-right: 0!important;
  border: 3px solid;
}
.hello{
  color: greenyellow;
  border: solid rgb(108, 110, 106);
  border-radius: 3rem;
  outline-offset: center;
  padding-left:10px;
  padding-right:10px;

}
.card{
  margin: 1rem;
  color:azure;
  background-color:rgb(39, 41, 46)!important;
 
  box-shadow: 0 2px 10px 2px rgba(1, 253, 144, 0.2), 0 6px 20px 0 rgba(78, 127, 103, 0.19);
}
.inputPrice{
  border: 3rem;
  border-radius: 3rem;
  border-color: greenyellow;
  background-color: rgb(54, 57, 55);
  color:rgb(105, 181, 204);


  appearance: none; 
  -moz-appearance: none;
}
.upload{
  color: rgb(90, 182, 171);

}
.registerForm{
  background-color:rgb(64, 69, 66);
  width: 100%;
  border-radius: 1.1rem;
  border-bottom: 1px solid rgb(178, 113, 113);
  outline: none;
  font-size: 1.1em;
  color: #000;
  color: #ffffff;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  

}
 .inputField{
  margin: 0.4rem;
 }